* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  display: flex; 
  /* background-color: red; */
  background: url('../assets/Movies-Star-Wars-Pictures.jpeg');
}

/* changing body to flex changed arrangment  */

header img {
  text-align: center; 
  width: 300px;
  height: 170px;
  margin: 0 auto;
  margin-left: 185px;
  border-radius: 10px;
  opacity: 0.8;
  border: 3px solid gold;
}

header {
  width: 300px;
  height: 170px; /*made header same size as header image */

}

section {
  /* width: 500px;  */
  height: 350px;
  background: url('../assets/storygif.gif') center;
  background-repeat: no-repeat;
  margin-top: 200px;
  margin-left: -160px;
  margin-right: 100px;
  opacity: 0.9;
  border: 3px solid gold;
  border-radius: 10px;
  width: 100%;
}

#start {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
  border-radius: 20px;
  padding-top: 4px;
  border: 3px solid gold;
  background-color: black;
}

button img {
border-radius: 20px;
border: 3px solid gold;
}

#controls {
  background: url('../assets/controlinfo.png');
  background-size: cover;
  width: 800px;
  height: 58px;
  border-radius: 10px;
  margin-bottom: -5px;
  border: 1px solid gold;
  
}

#score {
  margin-right: 15px;
  margin-bottom: 10px;
  font-size: 15px;
  color: azure;
  padding-left: 5px;
  color: blue;
  font-size: 15px;
}

#lives {
  padding-left: 5px;
  padding-right: 20px;
  color: red;
}

span {
font-size: medium;
font-weight: bold;
color: azure;
}

.grid-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  /* border: 3px solid darkorange; */
  /* background-color: green; */
  background: url('../assets/Movies-Star-Wars-Pictures 3.jpeg');
  flex-direction: column;  
  /* margin-left: 50px;  this centers the grid on page */
  /* padding-left: 30px;
  padding-right: 30px; */
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  margin-right: 115px;
  margin-top: 11px;
  box-shadow: inset 0 0 0 4px #F9D051;
}

.grid {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  height: 800px;
  width: 700px;
  border: 2px solid black;
  /* background-color: black; */
  background: url('../assets/darkersapce.gif');
  border-radius: 5px;
  
}

.grid div {
  /* border: 1px solid blue; */
  height: 5%;
  width: 5%;
  flex-grow: 1;
}

/* player */
.grid div.player {
  background: url('../assets/millennium-falcon-amoled-wallpaper.png') center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

/* obstacles */
.grid div.obstacle {
  background: url('../assets/asteroids4.png') center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.obstacle2 {
  background: url('../assets/asteroid3.png') center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.obstacle3 {
  background: url('../assets/asteroids4.png') center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.obstacle4 {
  background: url('../assets/asteroid3.png') center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.obstacle5 {
  background: url('../assets/asteroid3.png') center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.obstacle6 {
  background: url('../assets/asteroids4.png') center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.obstacle7 {
  background: url('../assets/asteroid3.png') center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.obstacle8 {
  background: url('../assets/asteroid3.png') center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.obstacle9 {
  background: url('../assets/asteroids4.png') center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.obstacle10 {
  background: url('../assets/asteroid3.png') center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.obstacle11 {
  background: url('../assets/asteroids4.png') center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.obstacle12 {
  background: url('../assets/asteroids4.png') center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.obstacle13 {
  background: url('../assets/asteroids4.png') center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.obstacle14 {
  background: url('../assets/asteroids4.png') center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.obstacle15 {
  background: url('../assets/asteroids4.png') center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.obstacle16 {
  background: url('../assets/asteroids4.png') center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.obstacle17 {
  background: url('../assets/asteroids4.png') center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.obstacle18 {
  background: url('../assets/asteroid3.png') center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.obstacle19 {
  background: url('../assets/asteroids4.png') center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.obstacle20 {
  background: url('../assets/asteroids4.png') center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.obstacle21 {
  background: url('../assets/asteroid3.png') center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.obstacle22 {
  background: url('../assets/asteroids4.png') center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.obstacle23 {
  background: url('../assets/asteroids4.png') center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.obstacle24 {
  background: url('../assets/asteroid3.png') center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.obstacle25 {
  background: url('../assets/asteroids4.png') center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.obstacle26 {
  background: url('../assets/asteroids4.png') center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.obstacle27 {
  background: url('../assets/asteroid3.png') center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.obstacle28 {
  background: url('../assets/asteroids4.png') center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.obstacle29 {
  background: url('../assets/asteroids4.png') center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.obstacle30 {
  background: url('../assets/asteroid3.png') center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.obstacle31 {
  background: url('../assets/asteroids4.png') center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.obstacle32 {
  background: url('../assets/asteroids4.png') center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.obstacle33 {
  background: url('../assets/asteroid3.png') center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.obstacle34 {
  background: url('../assets/asteroid3.png') center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.obstacle35 {
  background: url('../assets/asteroids4.png') center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.obstacle36 {
  background: url('../assets/asteroid3.png') center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

/* death star */
.grid div.star1 {
  background: url('../deathstar/image_part_001 (1).png');
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.grid div.star2 {
  background: url('../deathstar/image_part_002 (1).png');
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.grid div.star3 {
  background: url('../deathstar/image_part_003 (1).png');
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.grid div.star4 {
  background: url('../deathstar/image_part_004 (1).png');
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  margin-right: -5px;
  margin-top: -1px;
}

.grid div.star5 {
  background: url('../deathstar/image_part_005 (1).png');
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.grid div.star6 {
  background: url('../deathstar/image_part_006 (1).png');
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.grid div.star7 {
  background: url('../deathstar/image_part_007 (1).png');
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.grid div.star8 {
  background: url('../deathstar/image_part_008 (1).png');
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  margin-top: -5px;
  margin-bottom: 1px;
  
}

.grid div.star9 {
  background: url('../deathstar/image_part_009 (1).png');
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.grid div.star10 {
  background: url('../deathstar/image_part_010.png');
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.grid div.star11 {
  background: url('../deathstar/image_part_011.png');
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.grid div.star12 {
  background: url('../deathstar/image_part_012.png');
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  margin-right: -2px;
  margin-top: -5.5px;    /*new addition */
  margin-left: -2px;
  
}

.grid div.star13 {
  background: url('../deathstar/image_part_013.png');
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.grid div.star14 {
  background: url('../deathstar/image_part_014.png');
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  margin-top: -5px;  
}

.grid div.star15 {
  background: url('../deathstar/image_part_015.png');
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  margin-top: -5px;
}

.grid div.star16 {
  background: url('../deathstar/image_part_016.png');
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  margin-top: -5px;
  
  
}

.grid div.laser {
  background-color: red;
}

.grid div.enemyShip1 {
  background: url('../assets/vadersship copy.png') center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.enemyShip2 {
  background: url('../assets/fighterabove.png') center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.enemyShip3 {
  background: url('../assets/fighterabove.png') center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.enemyShip4 {
  background: url('../assets/fighterabove.png') center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

/* add hover to start button */