* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
}

.grid-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  height: 600px;
  width: 600px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.grid div {
  flex-grow: 1;
  border: 1px solid black;
  height: 10%;
  width: 10%;
}
